<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="cache-control" content="private, no-cache, no-store, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="Sat, 01 Jan 2000 00:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <title>{{tcfg.webTitle}}</title>
    {% for path in tl.template.aCss %}
    <link rel="stylesheet" href="{{path}}">
    {% endfor %}
    {% for path in tl.template.aJs %}
    <script src="{{path}}{{tl.template.webFileRandom}}" type="text/javascript"></script>
    {% endfor %}
</head>
<body>
{% if useContent %}
{% include 'content.html' %}
{% endif %}
{% if !useContent %}
{% include 'empty.html' %}
{% endif %}
</body>
</html>