<form role="form">
    <div class="form-group" style="padding-top: 10px">
        <label for="roleName" set-lan="mUserCenter.UserInfo.Role"></label>:&nbsp;
        <strong id="roleName"></strong>
    </div>
    <div class="form-group">
        <label for="pwd" set-lan="mUserCenter.UserInfo.ChangePwd"></label>
        <input type="password" class="form-control" id="pwd" value=""/>
    </div>
    <div class="form-group">
        <label for="checkPwd" set-lan="mUserCenter.UserInfo.CheckPwd"></label>
        <input type="password" class="form-control" id="checkPwd" value=""/>
    </div>
    <div class="form-group">
        <label for="email" set-lan="common.Email"></label>
        <input type="text" class="form-control" id="email"/>
    </div>
    <div class="form-group">
        <label for="displayName" set-lan="common.DisplayName"></label>
        <input type="text" class="form-control" id="displayName"/>
    </div>
    <div class="text-right">
        <button type="button" id="submitBtn"></button>
        <button type="button" id="revertBtn"></button>
    </div>
</form>